.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .results-table {
    width: 80%;
    margin-top: 20px;
    text-align: center; 
  }

  
  .results-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .results-table th,
  .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .results-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: left;
  }
  
  .results-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .results-table tr:hover {
    background-color: #f2f2f2;
  }
  
  .download-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  
  